P2PMovil.WebServices/Connected Services/OperacionesAXContenedor/OperacionesAXContenedor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.101.52/OperacionesAX/OperacionesAXContenedor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="getContenedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WorkID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="partida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContenedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getContenedorResult" nillable="true" type="q1:ContenedorDatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>