P2PMovil.WebServices/Connected Services/OperacionesAXOrdenSurtido/OperacionesAXOrdenSurtido2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrdenSurtido">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfDetalleOT" />
      <xs:element minOccurs="0" name="OrderNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenSurtido" nillable="true" type="tns:OrdenSurtido" />
  <xs:complexType name="ArrayOfDetalleOT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetalleOT" nillable="true" type="tns:DetalleOT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetalleOT" nillable="true" type="tns:ArrayOfDetalleOT" />
  <xs:complexType name="DetalleOT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="QtyWork" type="xs:decimal" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetalleOT" nillable="true" type="tns:DetalleOT" />
</xs:schema>