P2PMovil.WebServices/Connected Services/WHSWorkTableGroup/WHSWorkTableGroup3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2011/01/services" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2011/01/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvaosdyn02:8102/DynamicsAx/Services/WHSWorkTableGroup?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="AxWHSWorkTableServiceInsertRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="whsWorkTableList" nillable="true" type="q1:ArrayOfAxWHSWorkTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxWHSWorkTableServiceInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:AxWHSWorkTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>