P2PMovil.WebServices/Connected Services/WHSCloseContainerGroup/WHSCloseContainerGroup1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvaosdyn02:8102/DynamicsAx/Services/WHSCloseContainerGroup?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="AxWHSCloseContainerServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="whsContainerTableList" nillable="true" type="q1:ArrayOfAxWHSContainerTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxWHSCloseContainerServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:AxWHSContainerTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>