P2PMovil.WebServices/Connected Services/WHSCloseContainerGroup/WHSCloseContainerGroup5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvaosdyn02:8102/DynamicsAx/Services/WHSCloseContainerGroup?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="AxWHSContainerLine">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ItemId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Qty" type="xs:decimal" />
          <xs:element minOccurs="0" name="SecurityCode" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AxWHSContainerLine" nillable="true" type="tns:AxWHSContainerLine" />
  <xs:complexType name="AxWHSContainerTable">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContainerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrinterName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WHSContainerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WHSContainerTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WHSShipmentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WHSStamp1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WHSStamp2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="whsContainerLineList" nillable="true" type="tns:ArrayOfAxWHSContainerLine" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AxWHSContainerTable" nillable="true" type="tns:AxWHSContainerTable" />
  <xs:complexType name="ArrayOfAxWHSContainerLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AxWHSContainerLine" nillable="true" type="tns:AxWHSContainerLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAxWHSContainerLine" nillable="true" type="tns:ArrayOfAxWHSContainerLine" />
  <xs:complexType name="ArrayOfAxWHSContainerTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AxWHSContainerTable" nillable="true" type="tns:AxWHSContainerTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAxWHSContainerTable" nillable="true" type="tns:ArrayOfAxWHSContainerTable" />
</xs:schema>